@import "../themes";

.head {
  display: flex;

  @include themify() {
    background: t('bg-secondlayer');
    color: t('text-secondlayer');

    &.checked {
      color: t('text-main');
    }
  }

  border-radius: 20px;
  padding: 22px;
  user-select: none;
  cursor: pointer;
  justify-content: space-between;
}

.transparentHead {
  display: flex;
  user-select: none;
  cursor: pointer;
  justify-content: space-between;
  padding: 12px;
}

.body {
  padding: 0 16px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.chevron {
  transition: transform .3s linear;

  &.open {
    transform: rotate(180deg);
  }
}
