@import '../themes';

.root {
  display: inline-flex;
  border-radius: 8px;
  padding: 8px 12px 8px 8px;
}

.disabled {
  @include themify() {
    color: t('another-text-disabled');
    background: #fff;
    border: 1px solid t('border-disabled');;
  }
}

.enabled {
  background-color: #F6F6F6;

  @include themify() {
    color: t('text-main');
  }
}
