@import '../themes';

.root {
  display: inline-flex;
  border-radius: 8px;
  padding: 8px 12px 8px 8px;
}

.disabled {
  @include themify() {
    color: t('another-text-disabled');
    background: t('bg-disabled');
    border: 1px solid t('border-disabled');
  }
}

.enabled {
  @include themify() {
    background: t('bg-secondlayer');
    color: t('text-main');
  }
}
