@import '../themes';

.text {
  border-radius: 32px;
  background: #F6F6F6;
  padding: 20px;

  div {
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 12px;
  }
}

.showMore {
  @include themify() {
    color: t('text-primary');
    border-bottom: 1px solid t('bg-primary');
  }

  user-select: none;
  cursor: pointer;
  font-family: Lack, sans-serif;
  transition: height 0.3s ease;
  overflow: hidden;
  display: inline-block;
}
