@import '../variables.scss';

.text {
  border-radius: 32px;
  background: #F6F6F6;
  padding: 20px;

  div {
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 12px;

    &.expanded {
      margin-bottom: 0;
    }
  }
}

.showMore {
  color: $text-primary;
  cursor: pointer;
  font-family: Lack, sans-serif;
  border-bottom: 1px solid $bg-primary;
}
