@import '../themes';

.root {
  background: #f7f7f7;
  justify-content: space-between;
  align-items: flex-end;
}

.dayOfMonth {
  text-align: center;
  //padding: 0 12px;
  display: flex;
  flex-direction: column;

  &:not(.today) {
    margin: 0 4px 2px;
  }

  span {
    text-align: center;
    font-size: 12px;
  }

  div {
    font-size: 20px;
  }
}

.enabled {
  @include themify() {
    color: t('text-primary');
  }
}

.disabled {
  color: #9A9A9A;
}

.today {
  @include themify() {
    background: t('text-primary');
  }

  border-radius: 14px;
  padding: 0 2px;

  span {
    color: #E4E4E4;
    padding: 8px 0 4px 0;
  }

  div {
    background: #f7f7f7;
    border-radius: 12px;
    margin: 2px 0;
    padding: 0 10px;
  }
}
