@import "../themes";

.editSalonLink {
  line-height: 1;
  cursor: pointer;
  user-select: none;
  padding: 12px 12px 12px 14px;
  font-family: Lack, sans-serif;
  border-radius: 12px;

  @include themify() {
    border: 1px solid t('line-color');

    &:hover, &:focus {
      border-color: t('text-main');
    }
  }

  i {
    margin-right: 7px;
    width: 12px;
    height: 12px;
    margin-bottom: 3px;
  }
}

.personalInfoBlock {
  gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:last-child {
    height: 100%;
  }

  &>div>div:first-child {
    i {
      width: 17px;
      height: 19px;
      margin-right: 12px;
      vertical-align: text-bottom;
    }

    @include themify() {
      color: t('input-border-color');
    }
  }

  button {
    padding: 5px;
  }
}

.proHint {
  i {
    width: 14px;
    height: 14px;
    margin-right: 9px;

    @include themify() {
      color: t('bg-primary');
    }
  }

  span {
    font-size: 12px;

    @include themify() {
      color: t('text-disabled');
    }
  }
}

@media (max-width: 480px) {
  .editSalonLink {
    font-size: 14px;
  }
}
