.editSalonLink {
  font-weight: 600;
  display: inline-flex;
  align-items: flex-end;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  i {
    margin-left: 7px;
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 480px) {
  .editSalonLink {
    font-size: 12px;
  }
}
