@import "themes";

.socialBlock {
  display: flex;
  justify-content: space-around;

  div {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    img {
      width: 48px;
      height: 48px;

      @include themify() {
        border: 1px solid t('border-accent-color');
      }

      padding: 10px;
      border-radius: 16px;
      display: inline-block;
    }
  }
}

@media (min-width: 480px) {
  .mbOnDesktop {
    margin-bottom: 24px;
  }
}
