@import "themes";

.footer {
  border-radius: 32px 32px 0 0;

  @include themify() {
    background-color: t('bg-secondlayer');
  }

  padding: 20px;
  font-size: 16px;

  ul {
    list-style-type: none;

    li {
      margin-bottom: 16px;
    }
  }

  a {
    text-decoration: none;
    @include themify() {
      color: t('link-color');
    }
    font-family: Lack, sans-serif;
  }
}

.caption {
  @include themify() {
    color: t('text-caption');
  }
}

.splitter {
  width: 90%;
  height: 1px;

  @include themify() {
    background-color: t('line-color');
  }

  margin: 0 auto;

  &::before {
    content: ' ';
  }
}

.textLogo {
  display: block;
  margin: 12px 0;
}
