.va-middle {
  vertical-align: middle;
}

.additional-text {
  color: #9A9A9A;
}

.flex {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.non-selectable {
  user-select: none;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
  display: flex;
}
