.va-middle {
  vertical-align: middle;
}

.additional-text {
  color: #9A9A9A;
}

.flex {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.non-selectable {
  user-select: none;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.inline-block {
  display: inline-block;
}

.items-center {
  align-items: center;
  display: flex;
}

.align-end {
  align-items: flex-end;
}
