@import "themes";
@import "articlecard.module";

.kindSelector {
  padding: 12px 12px 4px 16px;
  border-radius: 16px;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  max-width: 400px;

  .kindContainer {
    justify-content: space-between;
  }

  @include themify() {
    background-color: t('bg-secondlayer');
    color: t('text-secondlayer');
  }
}

.padded {
  padding: 16px;
}

.workerBlock {
  grid-gap: 8px;

  &::after {
    content: " ";
    display: block;
    grid-column: span 12;
    width: 80%;
    margin: 0 auto;
    height: 1px;

    @include themify() {
      background-color: t('bg-secondlayer');
    }
  }
}

.filterButton {
  padding: 22px;
  border-radius: 24px;

  @include themify() {
    i {
      color: t('bg-primary');
    }
  }

  span.cnt {
    background-color: white;
    color: #252420;
    border-radius: 11px;
    padding: 6px 11px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.verifiedIcon {
  width: 18px;
  vertical-align: text-top;
  height: 18px;
  margin-right: 4px;
}
