@import "themes";
@import "articlecard.module";
@import "kit/socialblock.module";
@import "kit/modal-content.module";
@import "menu.module";
@import "kit/forms/hybrid-search-input.module";

.kindSelector {
  padding: 12px 12px 4px 16px;
  border-radius: 16px;
  display: inline-block;
  width: 100%;
  max-width: 400px;

  font-family: Lack, sans-serif;

  .kindContainer {
    justify-content: space-between;

    span {
      @include themify() {
        color: t('text-disabled');
      }
    }
  }

  @include themify() {
    background-color: t('bg-secondlayer');
    color: t('text-secondlayer');
  }
}

.filterContainer {
  max-height: 375px;
  position: relative;

  & > div {
    min-width: 250px;
  }
}

.collapseBody span {
  @include themify() {
    color: t('text-caption');
  }
}

@media (max-width: 480px) {
  .filterContainer {
    grid-gap: 0;
  }
}

@media (min-width: 480px) {
  .verticalBetween {
    display: flex !important;
  }
}

.verticalBetween {
  flex-direction: column;
  justify-content: space-between;
}

.resetBtn {
  @include themify() {
    color: t('text-disabled');
  }

  cursor: pointer;
  font-size: 14px;
}

.stretchContainer {
  display: flex;
  gap: 4px;

  & > div {
    flex-grow: 1;

    button {
      width: 100%;
      padding: 12px 0;
    }

    &:first-child button {
      padding: 13px 0;
    }

    &:nth-child(2) {
      max-width: 48px;
    }
  }
}

.fullSizeBtn > div, .fullSizeBtn > div > button {
  width: 100%;
}

.invisibleScroll {
  scrollbar-width: none;
  display: flex;
  overflow-x: scroll;
  gap: 8px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ellipsis {
  max-height: calc(24px * 3);
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.padded {
  padding: 16px;
}

.workerBlock {
  grid-gap: 8px;

  &::after {
    content: " ";
    display: block;
    grid-column: span 12;
    width: 80%;
    margin: 0 auto;
    height: 1px;

    @include themify() {
      background-color: t('bg-secondlayer');
    }
  }
}

.radioChecked {
  @include themify() {
    color: t('text-main') !important;
  }
}

.avgRating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  font-size: 20px;
  padding-right: 16px;

  i {
    width: 14px;
    height: 14px;
    margin-right: 8px;

    @include themify() {
      color: t('bg-primary');
    }
  }
}

.switchRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  border-radius: 16px;
  user-select: none;
  padding: 4px;
  gap: 12px;
  margin-right: 8px;

  @include themify() {
    background-color: t('bg-secondlayer');
    color: t('text-secondlayer');
  }

  div {
    width: 50%;
    border-radius: 12px;
    padding: 16px 20px;
    text-align: center;

    @include themify() {
      color: t('text-disabled');
    }

    &.active {
      @include themify() {
        background-color: t('body-bg');
        color: t('text-main');
      }
    }
  }
}

.linkUnderline {
  cursor: pointer;
  font-family: Lack, sans-serif;

  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;

    @include themify() {
      background-color: t('bg-primary');
    }
  }
}

.shortInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;

    & > div:first-child:not(.avgRating) {
      @include themify() {
        color: t('text-disabled');
        font-size: 12px;
      }
    }
  }
}

.inputGroup {
  align-items: center;
  padding: 16px;

  i:last-child {
    color: #9A9A9A;
    width: 12px;
    height: 12px;
    margin-top: -3px;
  }

  input {
    margin: 0 8px;

    &::placeholder {
      color: #9A9A9A;
    }
  }

  @include themify() {
    border: 1px solid t('input-border-color');
    border-radius: 16px;
  }
}

.helperText {
  @include themify() {
    color: t('text-disabled');
  }

  line-height: 24px;
  margin-bottom: 24px;
}

.filterButton {
  padding: 16px;
  //min-width: 120px;
  border-radius: 16px;

  & > span {
    display: flex;
    align-items: center;
  }

  @include themify() {
    i {
      color: t('bg-primary');
    }
  }

  span.cnt {
    background-color: white;
    color: #252420;
    font-family: Lato, sans-serif;
    border-radius: 8px;
    padding: 6px 12px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.verifiedIcon {
  width: 18px;
  vertical-align: text-top;
  height: 18px;
  margin-right: 4px;
}
