@import 'themes';

.navbar {
  align-items: center;
  margin-bottom: 16px;
  z-index: 999;
  padding: 24px 0;

  a {
    font-family: Lack, sans-serif;
    text-decoration: unset;
    @include themify() {
        color: t('text-main');
    }
  }

  &.pc {
    display: flex !important;

    @include themify() {
      border-bottom: 1px solid t('line-color');
    }
  }

  &.mobile {
    margin-bottom: 0;

    &::after {
      content: ' ';
      width: 100%;
      height: 1px;
      @include themify() {
        background-color: t('line-color');
      }
      margin: 24px 24px 0 24px;
    }
  }
}

.rightSplitter {
  width: 1px;
  display: inline-block;
  height: 80%;
  background: #ccc;
}
