@import "themes";

.root {
  border-radius: 20px;

  @include themify() {
    background: t('bg-secondlayer');
  }

  padding: 20px;
}

.name {
  font-size: 20px;
  font-family: Lack, sans-serif;
}

.text {
  @include themify() {
    color: t('text-disabled');
  }

  margin-top: 8px;
}

.date {
    font-size: 12px;
}

.gradeContainer {
  @include themify() {
    border-bottom: 1px solid t('input-border-color');
  }

  padding-bottom: 12px;

  span {
    font-size: 12px;
    @include themify() {
      color: t('text-disabled');
    }

    &.general {
      @include themify() {
        color: t('text-main');
      }
    }
  }
}

.star {
  @include themify() {
    color: t('bg-primary') !important;
  }
  margin-right: 8px;

  i {
    width: 16px;
    height: 16px;
  }

  & + span {
    font-size: 20px;
  }
}
