@import "themes";
@import "articlecard.module";
@import "kit/socialblock.module";

.padded {
  padding: 16px
}

.verifiedIcon {
  width: 18px;
  vertical-align: text-top;
  height: 18px;
  margin-right: 4px;
}

.avgRating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  font-size: 20px;
  padding-right: 16px;

  i {
    width: 14px;
    height: 14px;
    margin-right: 8px;

    @include themify() {
      color: t('bg-primary');
    }
  }
}

.shortInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;

    & > div:first-child:not(.avgRating) {
      @include themify() {
        color: t('text-disabled');
        font-size: 12px;
      }
    }
  }
}

.photo {
  user-select: none;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  cursor: zoom-in;
}

.textSectionDecorator a {
  margin-bottom: 16px;
}

.stretchContainer {
  display: flex;
  gap: 4px;

  & > div {
    flex-grow: 1;

    button {
      width: 100%;
      padding: 12px 0;
    }

    i {
      margin-right: 4px;
    }
  }
}

.fullSizeBtn>div, .fullSizeBtn>div>button {
  width: 100%;
}

.linkUnderline {
  cursor: pointer;
  font-family: Lack, sans-serif;

  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;

    @include themify() {
      background-color: t('bg-primary');
    }
  }
}
