$bg-primary: #FFC83A;
$bg-secondary: #000;
$bg-tertiary: #E4E4E4;
$bg-disabled: #F6F6F6;
$bg-success: #6FCF97;
$bg-danger: #FF5252;

$text-primary: #252420;
$text-secondary: #F6F6F6;
$text-tertiary: #252420;
$text-disabled: #616161;
