@import "../../themes.scss";

.subtitle {
  @include themify() {
    color: t('text-caption');
  }
  font-size: 12px;
}

.root {
  input {
    font-size: 32px;
    text-align: center;
    @include themify() {
      border-bottom: t('input-border-color');
    }
  }
}
